#magic-add-button
{
	padding: 10px 20px 10px 20px;

	margin: auto;
	display: block;

	margin-top: 120px;
}

.token-wrapper
{
	width: 33%;
	float: left;
	height: 100%;
}







.Oval-token
{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-image: linear-gradient(15deg, #5439d4, #795dff);
}
.Triangle-token
{
  width: 0px;
    height: 0px;
    border-left: 10.5px solid transparent;
    border-right: 10.5px solid transparent;
    border-bottom: 19px solid #30bdff;
}
.Square-token
{
  width: 20px;
  height: 20px;
  background-image: linear-gradient(225deg, #ffd168, #ffa437);
}
.token-symbol
{
	float: left;
	margin-top: 7px;
}

.token-indicator
{
	float: left;
	margin: 0px 20px 0px 20px;

  font-family: Montserrat;
  font-size: 24px;
  font-weight: 300;
  text-align: left;
  vertical-align: middle;
  color: #101010;
  color: var(--color-black-cod);

  	height: 100%;
}
.token-list
{
	margin: auto;
	text-align: center;
	width: 315px;
	margin-top: 75px;
}